# Python virtual environment
/backend/venv/

# Node.js dependencies
/frontend/node_modules/

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Ignore the ML dataset folder
/ml_model/data/Plant_leave_diseases_dataset_without_augmentation/

frontend/.env
.env